
/* 16. CountDown
--------------------------------------------------------------------------------*/


.table {
 width: 78rem;
 height: 7rem;
 background: rgb(0, 0, 0);
  margin-top: 20px;
                
}

.countdown__module {
    display: table;
    width: 100%;
    margin: 20px 0;
    color: #fff;
     
}

.countdown__module p {
    display: table-cell;
    vertical-align: middle;
    font-size: 10px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    width: 25%;
}

@media (min-width: 320px) {
    .countdown__module p {
        font-size: calc(.68182vw + 7.81818px);
    }
}

@media (min-width: 1200px) {
    .countdown__module p {
        font-size: 30px;
    }
}


#id-display {
  background-color: #FFD365;
  color: black;
  font-size: 40px;
  text-align: center;

}

::placeholder {
  color: #FFD365;
      text-align: center;

}


#userId {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  color: green;

}


#typingText {
  width: 800px;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
  font-size: 70px;
}